@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --header-height: 75px;
  --margin-after-header: 30px;

  /*HSL(hue, saturation, lightness)*/
  /* first color hex: 	#0a7b6a */
  --first-color: hsl(171, 85%, 26%); 
  --second-color: rgb(152, 205, 198);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(0, 0%, 0%);
  /* --body-color: 	hsl(0, 0%, 96%); */
  --body-color: #e8e8e8;
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);
  --white-color: hsl(180, 0%, 100%);

  --bg-col:#874e40;
  --box-col:transparent;
  --form-col:#fff;
  --blk-col:#000;
  --whi-col:#fff;
  --inp-col:#8f8f8f;
  --blu-col:#244855;
  --trans-col: rgba(0,0,0,0.5);
  --pro-col: rgb(255, 246, 204);


  --body-font: 'Crimson Pro', sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-fixed: 100;
  --z-modal: 1000;

  /* --navbar_max_height: 100px; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    --color: rgba(245,245,245,255);
    /* border-bottom: #000 2px solid; */
    border-top: none;
    border-left: none;
    border-right: none;
}

input:-webkit-autofill,
input:hover:not(:-webkit-autofill), 
input:focus:not(:-webkit-autofill), 
input:active:not(:-webkit-autofill) {
  --color: rgba(245,245,245,255);
  /* border-bottom: #000 2px solid; */
  border-top: none;
  border-left: none;
  border-right: none;
}

input[type=button]:hover, button:hover{
  cursor: pointer;
}

@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1.15rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body{
  min-height: 100vh;
  /* overflow-x: hidden; */
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
/*   color: var(--text-color); */
  /* padding-top: 4rem; */
  /* padding-top: calc(var(--header-height) + var(--margin-after-header)); */

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding-top: 30px;
}

h1{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .container {
  max-width: 1px;
  margin: 0 auto;
  padding: 0 15px;
} */

.main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: -1;
}

.header,
.search,
.login{
  font-family: 'Gloock', sans-serif;
}



.search{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(0, 0%, 96%, 0.01);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}

.search__close{
  top: 2.5rem;
  right: 2rem;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

/* /////////////FONTOS///////////////// */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  z-index: var(--z-fixed);
}

div.space-after-nav{
  box-sizing: content-box;
  padding-top: var(--header-height);
  height: var(--margin-after-header);
  width: 100%;
  background-color: var(--body-color);
  z-index: 1;
}

/* //////////////////////////////////////// */

main.container, main{
  /* margin-top: calc(); */
  min-height: calc(100dvh - (var(--header-height) + var(--margin-after-header)));
  padding-top: 0;
  max-width: min(90dvw, 1200px);
  margin-inline: auto;
}




@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}



/* ///////////////////FOOTER///////////////////// */

.footer {
  height: 200px;
  /* background-color: var(--body-color); */
  background-color: var(--first-color);
  padding: 40px 10px;
  text-align: center;
  box-shadow: 0 -2px 16px hsla(230, 75%, 32%, 0.15);
  bottom: 0;
  clear: both;
  position: relative;
  margin-top: auto;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(0, 0%, 90%);
}

.footer__logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  color: hsl(0, 0%, 90%);
}

.footer__nav {
  display: grid;
  justify-content: center;
  list-style: none;
  padding: 0;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  color: hsl(0, 0%, 90%);
}

.footer__nav li {
  margin: 0 15px;
  
}

.footer__nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  color: hsl(0, 0%, 90%);
}

/* .footer__nav a:hover {
  color: var(--accent-color);
} */

.footer__copyright {
  margin-top: 20px;
  font-size: 14px;
  color: var(--muted-text-color);
  text-align: center;
}




/* ////////////////////BODY/////////////////////// */


.content__container{
  width: 80%;
  padding: 2rem 0 2rem;
  flex: 1;
}

/* .content__container .account-details{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
} */

main .book-details{
  margin: 0 auto;
  width: fit-content;
}


/* összes könyv */


.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-template-rows: repeat(6, auto);
  gap: 75px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  width: 80%;
}

.grid-item {
  background-color: var(--body-color);
  border: none;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* border-radius: 0.5rem; */
  transition: 0.4s;
  width: 250px;
  
  border-radius: 20px;
  border: var(--second-color) solid 1px;
}

.grid-item:hover {
  background-color: var(--white-color);
  transition: 0.4s ease-in-out;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  /* border-radius: .3rem; */
  margin-top: 0;
  border-radius: 20px;
}

.grid-item .book-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.grid-item .book-author {
  font-size: 1.1rem;
  color: #333;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: #000 solid 1px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid-item .book-genres {
  font-size: 1rem;
  color: #333;
  text-align: left;
}

/* //Like button:// */


/* From Uiverse.io by Yaya12085 */ 
.ui-like {
  --icon-size: 24px;
  --icon-secondary-color: var(--inp-col);
  --icon-hover-color: rgb(211, 205, 205);
  --icon-primary-color: rgb(230, 26, 26);
  --icon-circle-border: 1px solid black;
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;

  width: 32px;
  display: inline-block;
}

.ui-like input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-like .like {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.like::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.like::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */

.ui-like:hover .like {
  fill: var(--icon-hover-color);
}

.ui-like input:checked + .like::after {
  -webkit-animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

.ui-like input:checked + .like {
  fill: var(--icon-primary-color);
  -webkit-animation: like var(--icon-anmt-duration) forwards;
  animation: like var(--icon-anmt-duration) forwards;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ui-like input:checked + .like::before {
  -webkit-animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

@-webkit-keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}


/* //:Like button// */

@media screen and (max-width: 1074px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, 220px);
  }
}

@media screen and (max-width: 810px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, 220px);
    width: 90%;
  }
}

@media screen and (max-width: 530px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, 220px);
    width: 90%;
  }
}


/* könyv részletes */

.container {
  margin: 0 auto;
  padding: 20px;
}

.book-details {
  display: flex;
  padding: 20px 20px 10rem 20px;
}

.book-image {
  /* max-width: 300px; */
  margin-right: 30px;
  width: 100%;
}

.book-image>img{
  width: 100%;
}

.book-info {
  max-width: 800px;
}

.book-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.book-author {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.book-genres {
  margin-bottom: 20px;
}

.book-genres span {
  background-color: #e0e0e0;
  color: #333;
  font-size: 14px;
  padding: 2px 5px;
  /* border-radius: 20px; */
  margin-right: 5px;
  display: inline-block;
}

.book-description {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.6;
}

.availability {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  color: green;
}

.buttons {
  display: flex;
  gap: 15px;
  margin: 2.5rem 0;
}

.reserve-button {
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  /* border-radius: 5px; */
  color: white;
}

/* .wishlist-button {
  stroke: #ffc107;
}

.wishlist-button:hover {
  stroke: #e0a800;
} */

.heartIcon[data-selected = '1']{
  fill: red;
}

.heartIcon{
  fill: white;
  aspect-ratio: 1;
  display: block;
}

.buttons>.heartIcon{
  width: 100%;
  height: 100%;
  transition: fill 150ms;

}

.buttons>.heartIcon:has(path:hover){
  cursor: pointer;
  fill: #f74444;
}

.reserve-button {
  background-color: #28a745;
}

.reserve-button:hover {
  background-color: #218838;
}

/* SIMILAR BOOKS SECTION */

.simlar-books-container {
  padding-bottom: 12rem;
}

.similar-books-section {
  margin-top: 40px;
  padding: 20px;
  background-color: var(--body-color);
  border-radius: 8px;
  position: relative;
  width: 80%;
  display: inline-block;
  margin: 0 auto;
}

.simlar-books-container {
  margin: 0 auto;
  display: flex;
}

.similar-books-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.similar-books-slider {
  min-width: 200px;
  /* width: calc(100% / var(--slides-per-view)); */
  max-width: 100%;
  overflow-x: scroll;
  display: flex;
  /* overflow: hidden; */
  gap: 20px;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  flex: 0 0 auto;
  margin: 20px, 20px;
}

/* .swiper-slide {
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
} */

.prev-button,
.next-button {
  margin: 0 auto;
  display: block;
}


.swiper-button:hover {
  cursor: pointer;
}

.swiper-button {
  display: flex;
  align-items: center;
}


.similar-books-slider::-webkit-scrollbar {
  height: 8px;
}

.similar-books-slider::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.similar-books-slider::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.similar-books-slider .book_item {
  flex: 0 0 auto;
  width: 200px;
  text-align: center;
  scroll-snap-align: start;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  background-color: white;

  transition: 0.2s ease;
  user-select: none;

  max-width: 216px;
}
.similar-books-slider .book_item:hover {
  cursor: pointer;
  background-color: var(--second-color);
  transition: background-color 0.3s ease;
}

.similar-books-slider .book_item img {
  width: 100%;
  height: auto;
  display: block;
}

.similar-books-slider .book_info {
  padding: 10px;
}

.similar-books-slider .book_title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.similar-books-slider .book_author {
  font-size: 14px;
  color: #555;
  
}

.similar-books-slider .book_genre {
  font-size: 14px;
  margin: 1rem 2.5rem 0 2.5rem;
}

.card-button {
  border-radius: 50%;
  margin: 30px 0 5px;
  border: 2px solid var(--first-color);
  color: var(--first-color);
  background: none;
  cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 1102px) {

  .book-image img {
    width: 100%;
    height: auto;
  }
  .book-details {
    flex-direction: column;
  }

  .book-image {
    margin: 20px 0 20px 0;
    /* max-width: 80%; */
  }

  .book-info {
    max-width: 100%;
    align-self: flex-start;
  }
}

@media screen and (max-width: 1023px) {
  .book-title {
    font-size: 26px;
  }

  .book-author {
    font-size: 16px;
  }

  .book-description,
  .availability {
    font-size: 14px;
  }

}

@media screen and (max-width: 800px) {
  .buttons {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .wishlist-button,
  .reserve-button {
    width: 100%;
    text-align: center; 
    padding: 12px; 
  }
}

@media screen and (max-width: 600px) {
  .book-title {
    font-size: 22px; 
  }

  .book-author {
    font-size: 14px; 
  }

  .book-description {
    font-size: 13px;
  }

  .content__container .book-details{
    width: 100%;
    margin: 0;    
  }

  .book-image img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .book-title {
    font-size: 20px;
  }

  .book-author {
    font-size: 12px;
  }

  .book-description {
    font-size: 12px;
  }

  .availability {
    font-size: 14px;
  }

  .buttons {
    gap: 10px;
  }

  .book-image img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  .book-title {
    font-size: 18px;
  }

  .book-author {
    font-size: 12px;
  }

  .book-description {
    font-size: 11px;
  }

  .book-image img {
    width: 100%;
    height: auto;
  }
}

/* #filters{
  display: none;
}
 */
.filter-label {
  margin-right: 20px;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.genre-buttons {
  display: flex;
  gap: 10px;
}

.genre-button {
  padding: 10px 15px;
  font-size: var(--normal-font-size);
  border: none;
  border-radius: 5px;
  background-color: var(--body-color);
  color: var(--whi-col);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.genre-button:hover {
  background-color: hsl(171, 75%, 40%);
  transform: translateY(-2px);
}

.genre-button.active {
  background-color: hsl(171, 85%, 20%);
  color: var(--whi-col);
}

#filters {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20px;  */
  padding: 20px;
  border-radius: 10px;
  background-color: var(--body-color);
  margin: 0 auto;
  max-width: 800px;
  width: 60%;
}

#toggleFilters{
  height: 1.8rem;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--second-color);
}

#toggleFilters:hover{
  cursor: pointer;
  background-color: rgb(152, 205, 198, 0.9);

}


#additional-filters {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  /* grid-column: span 2; */
  margin-top: 20px;
}

#baseFilters{
  /* grid-column: span 2; */
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
}

#filters label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
#filters input[type="text"],
#filters input[type="date"],
#filters select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#filters input[type="button"] {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: var(--first-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  grid-column: span 2;
  margin-top: 20px;
}

.genre-filter,
.lang-filter,
.title-filter,
.author-filter,
.releaseDate-filter,
.ISBN-filter {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

#title{
  grid-column: span 2;
}

#searchButton{
  width: 20%;
  min-width: fit-content;
}

@media screen and (max-width: 840px) {
  #toggleFilters{
    grid-column: span 2;
/*     flex-direction: column;
    width: 100%; */
  }

  .title-filter{
    grid-column: span 2;
    flex-direction: column;
    width: 100%;
  }
}

#currentPage {
  padding: 0 2rem 0 2rem;
  align-items: center;
  display: flex;
  justify-content: center; 
  align-items: center;
}


.page_button_holder input[type="button"] {
  padding: 10px 15px;
  text-align: center;
  border-radius: 1rem;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.page_button_holder input[type="button"]:hover {
  background-color: var(--second-color);
}



/* ///////////////////// MAIN PAGE STYLE//////////////////////// */


/* Hero Section */
.hero {
  text-align: center;
  padding: 5rem 1.5rem;
  background-color: #8d806b;
  color: var(--whi-col);
  background-image: url(imgs/library_image.jpg);
  height: 100vh;
  align-content: center;
}


.hero h1 {
  font-size: 2.5rem;
  font-weight: var(--font-semi-bold);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero .cta-button {
  background-color: var(--first-color);
  color: var(--whi-col);
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.hero .cta-button:hover {
  background-color: var(--second-color);
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero .cta-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }

  :root{
    --margin-after-header: 10px;
  }

  main.container{
    /* margin-top: calc(var(--header-height) + var(--margin-after-header)); */
    padding-top: 0;
  }
}

/* Services Section */
.services {
  padding: 0 0 0 0;
  background-color: var(--container-color);
  text-align: center;
  color: var(--white-color);
}

.borrowing_section{
  background-color: #8d806b;
}

.collection_section{
  background-image: url(imgs/books_background.jpg);
}

.asdf{
  background-color: #8d806b;
}

.main_section,
.membership{
  background-size: cover;
  background-position: center;
  position: relative;
}

.main_section::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.service{
  margin-bottom: 5rem;
  margin-top: 5rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.service img {
  max-width: 80px;
  margin-bottom: 1rem;
}
.service > *{
  z-index: 2;
}

.service h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.service p {
  font-size: 1rem;
}

.services {
  display: grid;
  grid-template-columns: 1fr;
}

/* Membership Section */
.membership {
  padding: 4rem 1.5rem;
  background-image: url(imgs/bookstore_background.jpg);
  text-align: center;
  color: var(--white-color);
}

.membership h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.membership p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.membership .cta-button {
  background-color: var(--first-color);
  color: var(--whi-col);
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.membership .cta-button:hover {
  background-color: var(--second-color);
}

@media screen and (max-width: 768px) {
  .membership h2 {
    font-size: 1.75rem;
  }

  .membership p {
    font-size: 1rem;
  }

  .membership .cta-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}

/* ////////////////////USER DETAILED//////////////////// */

#logoutButton {
  padding: 12px 24px;
  font-size: 16px;
  color: #fff;
  background-color: #ff6b6b; /* A modern red color */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

#logoutButton:hover {
  background-color: #ee5253;
  transform: translateY(-2px);
}

#logoutButton:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(255, 107, 107, 0.5);
}
/* 
.account-details {
  margin-top: 4rem;
} */

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


a, a:active, a:hover, a:visited, a:link{
  color: unset;
  text-decoration: unset;
  padding: unset;
  margin: unset;
}

.content__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.account-details {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.account-details h2 {
  margin-top: 0;
}

.account-info {
  margin-bottom: 20px;
}

.account-info label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.account-info p {
  margin: 0 0 10px;
}

.book-section {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.book-section h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.book-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.book-list li {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.book-list li:last-child {
  margin-bottom: 0;
}

.book-title {
  font-weight: bold;
}

.book-author {
  color: #333;
}

.return-date-past {
  color: red;
}

.book-section input[type="button"]{
  float: right
}

.hidden{
  display: none;
}

#results>.page_button_holder{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  width: fit-content;
  margin-inline: auto;
  margin: 3rem auto 3rem;
}

#results>.page_button_holder>:first-child{
  text-align: center;
}

.change-password-holder{
  /* display: flex;
  flex-direction: column; */
  width: min(400px, 100%);
}

.change-password-holder>.inputbox{
  margin-bottom: 10px;
}

.account-info .change-password-holder>.inputbox>span{
  padding: 2.5px 0;
}

.change-password-holder>button, .change-password-holder>input[type="button"]{
  margin-inline: auto;
  display: block;
  padding: 5px 15px;
}

#errors_with_password{
  color: red;
}

#errors_with_password>p{
  line-height: var(--normal-font-size);
  display: none;
}
/* /////////////////////////////////////// */

.container {
  display: flex;
  width: 80%;
  height: 100%;
}

.sidebar {  
  width: 250px;
  min-width: 250px;
  background-color: var(--body-color);
  color: black;
  padding-top: 0rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  align-self: flex-start;
  top: var(--header-height); /*ez legyen megnövelve ha lejjebb akarod csúsztati, ne paddinget kapjon*/
  /* overflow-x: scroll; */
  /* overflow-y: auto; */
}

.indicator{
  will-change: height, translate;

  background-color: hsl(171, 85%, 26%);
  border-radius: 10px;
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;

  height: var(--_height, 10px);

  translate: 0 var(--_top, 22.5px);
  /* transition: height ease-in-out 300ms, translate ease-in-out 300ms; */
}


/*HIDES SCROLL BAR*/
  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .sidebar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.nav-item {
  padding: 15px;
  cursor: pointer;
  text-align: left;
  position: relative;
}


.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ecf0f1;
  line-height: 3rem;
  border-radius: 1rem;
  min-height: 0;
}

.main-content h2, h3 {
  padding-bottom: 2rem;
}

.section {
  display: none;
}

.section h3 {
  font-size: 24px;
  color: #2c3e50;
}

.book-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: grid; 
  grid-template-columns: 1fr 1fr;  
  align-items: center;
}

.book-item .book-details_container {
  display: grid;
  justify-content: left;
}

.book-details_container a:hover {
  color: var(--first-color);
}

.book-item a {
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

.book-item .button_container{
  display: grid;
  justify-content: right;
  align-items: center;
}


.book-item .book-author {
  color: #333;
  align-self: flex-start;
}

.book-item .book_action_button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.book-item .book_action_button:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .book-item {
    grid-template-columns: 1fr;
  }

  .book-item .button_container {
    justify-content: center;
  }
}

.logout-container {
  margin-top: 20px;
}

.logout-container button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-container button:hover {
  background-color: #2980b9;
}




@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      width: 100%;
  }

  .sidebar {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-around;
      overflow-x: scroll;
  }

  .nav-item {
      padding: 10px;
      text-align: center;
      border-bottom: none;
  }

  .indicator{
    display: none;
  }

  .nav-item span{
    visibility: hidden;
  }

  .nav-item.selected{
    color: hsl(171, 85%, 26%);
  }

  .nav

  .main-content {
      padding: 10px;
      padding: 2rem;
  }
}
