@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --header-height: 100px;
  --margin-after-header: 30px;

  /*HSL(hue, saturation, lightness)*/
  --first-color: hsl(171, 85%, 26%);
  --second-color: rgb(152, 205, 198);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(0, 0%, 0%);
  --body-color: 	hsl(0, 0%, 96%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);
  --white-color: hsl(180, 0%, 100%);

  --bg-col:#874e40;
  --box-col:transparent;
  --form-col:#fff;
  --blk-col:#000;
  --whi-col:#fff;
  --inp-col:#8f8f8f;
  --blu-col:#244855;
  --trans-col: rgba(0,0,0,0.5);
  --pro-col: rgb(255, 246, 204);


  --body-font: 'Playfair Display', sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-fixed: 100;
  --z-modal: 1000;

  /* --navbar_max_height: 100px; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    --color: rgba(245,245,245,255);

    -webkit-box-shadow: 0 0 0 50px var(--color) inset !important;

}

input[type=button]:hover, button:hover{
  cursor: pointer;
}

@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1.15rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body{
  min-height: 100vh;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
/*   color: var(--text-color); */
  /* padding-top: 4rem; */
  padding-top: calc(var(--header-height) + var(--margin-after-header));

  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
}

h1{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .container {
  max-width: 1px;
  margin: 0 auto;
  padding: 0 15px;
} */

.main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  z-index: -1;
}
.login{
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(0, 0%, 96%, 0.01);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  justify-content: center;

}

.header,
.search,
.login{
  font-family: 'Gloock', sans-serif;
}



.search{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(0, 0%, 96%, 0.01);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}

.search__close{
  top: 2.5rem;
  right: 2rem;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
/*   background-color: #A0B2B6; */
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  z-index: var(--z-fixed);
}

main.container, main{
  /* margin-top: calc(); */
  min-height: calc(100dvh - (var(--header-height) + var(--margin-after-header)));
}

.nav {
  height: var(--header-height)!important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(135deg, hsl(20, 100%, 70%), hsl(15, 100%, 85%)); */

}
.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-regular);
  transition: color 0.4s;
  vertical-align: middle;
}
.nav__menu {
  /* Navigation for mobile devices */
  background-color: var(--body-color);
}
@media screen and (max-width: 1022px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top 0.4s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
  padding: 0;
}
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-re);
  transition: color 0.4s;
}
.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}
.nav__actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 2rem;
  padding: 0;
  list-style: none;
}

.nav__actions .ri{
  vertical-align: middle;
  margin-left: 0.5rem;
}
.nav__search,
.nav__login,
.nav__toggle,
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

.show-menu {
  top: 0;
  z-index: 1000000000;
  height: 100%;
  transition: 0.3s ease-in-out;
}

/* KERESÉS RÉSZ */
.search__form {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  background-color: var(--body-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  padding-inline: 1rem;
  border-radius: 0.5rem;
/*   transform: translateY(-1rem);
  transition: transform 0.4s; */
}
.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--body-color);
  color: var(--text-color);
}
.search__input::-moz-placeholder {
  color: var(--text-color);
}
.search__input::placeholder {
  color: var(--text-color);
}


.show-search {
  opacity: 1;
  pointer-events: initial;
}

/* .show-search .search__form {
  transform: translateY(0);
} */

/* LOGIN RÉSZ */

.login_box{
  position: relative;
  width: 450px;
  height: 600px;
  border-radius: .3rem;
}

.borderline{
  position: absolute;
  top: 0;
  inset: 0;
}

.login_box form{
  position: absolute;
  inset: 4px;
  padding: 20px 40px;
  border-radius: .5rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.login_box form h2{
  color: var(--blk-col);
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1rem;

}

.login_box form .inputbox{
  position: relative;
  width: 100%;
  margin-top: 25px;
}

.login_box form .inputbox input {
  position: relative;
  width: 100%;
  padding: 15px 15px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--blc-col);
  font-size: 1rem;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  z-index: 10;
  border-bottom: #000 2px solid;
  display: inline-block;
  vertical-align: middle;
}
input:-webkit-autofill{
    background-color: pink !important; /* Your desired background color */
    color: #000 !important; /* Your desired text color */
    font-style: normal; /* Reset styles */
    border: 1px solid #ccc; /* Custom border */
    transition: background-color 5000s ease-in-out 0s; /* Prevent flashing */
}

.login_box form .inputbox span{
  z-index: 10;
  position: absolute;
  left: 0;
  padding: 15px 0px 10px;
  pointer-events: none;
  color: var(--inp-col);
  font-size: 1rem;
  letter-spacing: 0.05rem;
  transition: 0.3s;
}



#loginBtn{
  padding: 10px 20px;
  border-radius: .3rem;
  cursor: pointer;
}

.login_box form .inputbox input:not(:placeholder-shown) ~ span,
.login_box form .inputbox input:focus ~ span {
  color: var(--blk-col);
  font-weight: 400;
  font-size: 1em;
  transform: translateY(-1.5rem);
}

.login_box form .links{
  display: flex;
  justify-content: space-between;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.login_box{
  width: 300px;
  border-radius: .5rem;
  background-color: var(--body-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
}



.login_box form .links a{
  margin: 20px 0;
  font-size: 0.9em;
  color: var(--inp-col);
  text-decoration: none;
}

.login_box form .links a:hover{
  color: var(--blk-col);
  text-decoration: underline;
}

.login_box form input[type="submit"]{
  border: none;
  outline: none;
  padding: 9px 25px;
  background: var(--second-color);
  cursor: pointer;
  font-size: 1em;
  border-radius: 70px 35px 70px 35px;
  font-weight: 600;
  width: 70%;
  justify-content: center;
  color: black;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-top: 15px;
}

.login_box form input[type="submit"]:active{
  opacity: 0.8;
}

.login_box form input[type="submit"]:hover{
  background-color:var(--first-color);
  color: grey;
}


.login_box form select{
  width: 100%;
  padding: 20px 0px 10px;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--inp-col);
  font-size: 1rem;
  letter-spacing: 0.05rem;
}


.login_box form .inputbox select:valid{
  color: #000;
}


.login_box{
  width: 450px;
  height: 420px;
}
.login_box form{
  padding: 20px;
}
.login_box form .inputbox{
  position: relative;
  margin-top: 35px;
}

.login_box form .inputbox img{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-40%);
  width: 25px;
  cursor: pointer;
  z-index: 100000000000000;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}



.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}


.show-login {
  opacity: 1;
  pointer-events: initial;
}

/* .show-login .login_box{
  transform: translateY(0);
} */


/* @media SETTINGS */
/* közepes */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }
  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }
  .search__close{
    width: -moz-max-content;
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }
  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }

  .login_box{
    width: 90%;
    max-width: 450px;
    font-size: 12px;
}
}
/* nagy */
@media screen and (min-width: 1023px) {
  .nav {
    /* height: calc(var(--header-height) + 1.5rem); */
    /* height: var(--header-height); */
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .login__form {
    padding: 3rem 2rem 3.5rem;
  }

  


}
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}



/* ///////////////////FOOTER///////////////////// */

.footer {
  height: 200px;
  /* background-color: var(--body-color); */
  background-color: var(--first-color);
  padding: 40px 10px;
  text-align: center;
  box-shadow: 0 -2px 16px hsla(230, 75%, 32%, 0.15);
  bottom: 0;
  clear: both;
  position: relative;
  margin-top: auto;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(0, 0%, 90%);
}

.footer__logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  color: hsl(0, 0%, 90%);
}

.footer__nav {
  display: grid;
  justify-content: center;
  list-style: none;
  padding: 0;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  color: hsl(0, 0%, 90%);
}

.footer__nav li {
  margin: 0 15px;
  
}

.footer__nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  color: hsl(0, 0%, 90%);
}

/* .footer__nav a:hover {
  color: var(--accent-color);
} */

.footer__copyright {
  margin-top: 20px;
  font-size: 14px;
  color: var(--muted-text-color);
  text-align: center;
}




/* ////////////////////BODY/////////////////////// */


.content__container{
  width: 80%;
  padding: 2rem 0 2rem;
  flex: 1;
}

/* .content__container .account-details{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
} */

.content__container .book-details{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}


/* összes könyv */


.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-template-rows: repeat(6, auto);
  gap: 30px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
}

.grid-item {
  background-color: var(--body-color);
  border: none;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* border-radius: 0.5rem; */
  transition: 0.4s;
  width: 220px;
}

.grid-item:hover {
  background-color: var(--second-color);
  transition: 0.4s ease-in-out;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  /* border-radius: .3rem; */
  margin-top: 0;
}

.grid-item .book-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.grid-item .book-author {
  font-size: 14px;
  color: #333;
}

@media screen and (max-width: 1074px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, 220px);
  }
}

@media screen and (max-width: 810px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, 220px);
    width: 90%;
  }
}

@media screen and (max-width: 530px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, 220px);
    width: 90%;
  }
}


/* könyv részletes */

.container {
  margin: 0 auto;
  padding: 20px;
}

.book-details {
  display: flex;
  align-items: flex-start;
  padding: 20px;
/*   border: 1px solid #ddd; */
/*   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.book-image {
  max-width: 300px;
  margin-right: 30px;
}

.book-image>img{
  width: 100%;
}

.book-info {
  max-width: 800px;
}

.book-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.book-author {
  font-size: 18px;
  color: #333;
}

.book-genres {
  margin-bottom: 20px;
}

.book-genres span {
  background-color: #e0e0e0;
  color: #333;
  font-size: 14px;
  padding: 5px 10px;
  /* border-radius: 20px; */
  margin-right: 5px;
  display: inline-block;
}

.book-description {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.6;
}

.availability {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  color: green;
}

.buttons {
  display: flex;
  gap: 15px;
}

.wishlist-button,
.reserve-button {
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  /* border-radius: 5px; */
  color: white;
}

.wishlist-button {
  background-color: #ffc107;
}

.wishlist-button:hover {
  background-color: #e0a800;
}

.reserve-button {
  background-color: #28a745;
}

.reserve-button:hover {
  background-color: #218838;
}

/* Responsive Styles */
@media screen and (max-width: 1102px) {

  .book-image img {
    max-width: 100%;
  }
  .book-details {
    flex-direction: column;
    align-items: center;
  }

  .book-image {
    margin: 20px 0 20px 0;
    max-width: 80%;
  }

  .book-info {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .book-title {
    font-size: 26px;
  }

  .book-author {
    font-size: 16px;
  }

  .book-description,
  .availability {
    font-size: 14px;
  }

}

@media screen and (max-width: 800px) {
  .buttons {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .wishlist-button,
  .reserve-button {
    width: 100%;
    text-align: center; 
    padding: 12px; 
  }
}

@media screen and (max-width: 600px) {
  .book-title {
    font-size: 22px; 
  }

  .book-author {
    font-size: 14px; 
  }

  .book-description {
    font-size: 13px;
  }

  .content__container .book-details{
    width: 100%;
    margin: 0;    
  }
}

@media screen and (max-width: 480px) {
  .book-title {
    font-size: 20px;
  }

  .book-author {
    font-size: 12px;
  }

  .book-description {
    font-size: 12px;
  }

  .availability {
    font-size: 14px;
  }

  .buttons {
    gap: 10px;
  }
}

@media screen and (max-width: 375px) {
  .book-title {
    font-size: 18px;
  }

  .book-author {
    font-size: 12px;
  }

  .book-description {
    font-size: 11px;
  }
}

/* #filters{
  display: none;
}
 */
.filter-label {
  margin-right: 20px;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

.genre-buttons {
  display: flex;
  gap: 10px;
}

.genre-button {
  padding: 10px 15px;
  font-size: var(--normal-font-size);
  border: none;
  border-radius: 5px;
  background-color: var(--body-color);
  color: var(--whi-col);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.genre-button:hover {
  background-color: hsl(171, 75%, 40%);
  transform: translateY(-2px);
}

.genre-button.active {
  background-color: hsl(171, 85%, 20%);
  color: var(--whi-col);
}

#filters {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20px;  */
  padding: 20px;
  border-radius: 10px;
  background-color: var(--body-color);
  margin: 0 auto;
  max-width: 800px;
  width: 60%;
}

#toggleFilters{
  height: 1.8rem;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--second-color);
}

#toggleFilters:hover{
  cursor: pointer;
  background-color: rgb(152, 205, 198, 0.9);

}


#additional-filters {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  /* grid-column: span 2; */
  margin-top: 20px;
}

#baseFilters{
  /* grid-column: span 2; */
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
}

#filters label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
#filters input[type="text"],
#filters input[type="date"],
#filters select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#filters input[type="button"] {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: var(--first-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  grid-column: span 2;
  margin-top: 20px;
}

.genre-filter,
.lang-filter,
.title-filter,
.author-filter,
.releaseDate-filter,
.ISBN-filter {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

#title{
  grid-column: span 2;
}

#searchButton{
  width: 20%;
  min-width: fit-content;
}

@media screen and (max-width: 840px) {
  #toggleFilters{
    grid-column: span 2;
/*     flex-direction: column;
    width: 100%; */
  }

  .title-filter{
    grid-column: span 2;
    flex-direction: column;
    width: 100%;
  }
}

#currentPage {
  padding: 0 2rem 0 2rem;
  align-items: center;
  display: flex;
  justify-content: center; 
  align-items: center;
}


.page_button_holder input[type="button"] {
  padding: 10px 15px;
  text-align: center;
  border-radius: 1rem;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.page_button_holder input[type="button"]:hover {
  background-color: var(--second-color);
}



/* ///////////////////// MAIN PAGE STYLE//////////////////////// */


/* Hero Section */
.hero {
  text-align: center;
  padding: 5rem 1.5rem;
  background-color: #8d806b;
  color: var(--whi-col);
  background-image: url(imgs/library_image.jpg);
  height: 100vh;
  align-content: center;
}


.hero h1 {
  font-size: 2.5rem;
  font-weight: var(--font-semi-bold);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero .cta-button {
  background-color: var(--first-color);
  color: var(--whi-col);
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.hero .cta-button:hover {
  background-color: var(--second-color);
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero .cta-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }

  :root{
    --margin-after-header: 10px;
  }

  main.container{
    /* margin-top: calc(var(--header-height) + var(--margin-after-header)); */
    padding-top: 0;
  }
}

/* Services Section */
.services {
  padding: 0 0 0 0;
  background-color: var(--container-color);
  text-align: center;
  color: var(--white-color);
}

.borrowing_section{
  background-color: #8d806b;
}

.collection_section{
  background-image: url(imgs/books_background.jpg);
}

.asdf{
  background-color: #8d806b;
}

.main_section,
.membership{
  background-size: cover;
  background-position: center;
  position: relative;
}

.main_section::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.service{
  margin-bottom: 5rem;
  margin-top: 5rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.service img {
  max-width: 80px;
  margin-bottom: 1rem;
}
.service > *{
  z-index: 2;
}

.service h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.service p {
  font-size: 1rem;
}

.services {
  display: grid;
  grid-template-columns: 1fr;
}

/* Membership Section */
.membership {
  padding: 4rem 1.5rem;
  background-image: url(imgs/bookstore_background.jpg);
  text-align: center;
  color: var(--white-color);
}

.membership h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.membership p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.membership .cta-button {
  background-color: var(--first-color);
  color: var(--whi-col);
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.membership .cta-button:hover {
  background-color: var(--second-color);
}

@media screen and (max-width: 768px) {
  .membership h2 {
    font-size: 1.75rem;
  }

  .membership p {
    font-size: 1rem;
  }

  .membership .cta-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}

/* ////////////////////USER DETAILED//////////////////// */

#logoutButton {
  padding: 12px 24px;
  font-size: 16px;
  color: #fff;
  background-color: #ff6b6b; /* A modern red color */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

#logoutButton:hover {
  background-color: #ee5253;
  transform: translateY(-2px);
}

#logoutButton:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(255, 107, 107, 0.5);
}
/* 
.account-details {
  margin-top: 4rem;
} */

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}



/* /////////////////USER DETAILED//////////////////// */


a, a:active, a:hover, a:visited, a:link{
  color: unset;
  text-decoration: unset;
  padding: unset;
  margin: unset;
}

.content__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.account-details {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.account-details h2 {
  margin-top: 0;
}

.account-info {
  margin-bottom: 20px;
}

.account-info label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.account-info p {
  margin: 0 0 10px;
}

.book-section {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.book-section h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.book-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.book-list li {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.book-list li:last-child {
  margin-bottom: 0;
}

.book-title {
  font-weight: bold;
}

.book-author {
  color: #333;
}

.return-date-past {
  color: red;
}

.book-section input[type="button"]{
  float: right
}

.hidden{
  display: none;
}

#results>.page_button_holder{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  width: fit-content;
  margin-inline: auto;
  margin: 3rem auto 3rem;
}

#results>.page_button_holder>:first-child{
  text-align: center;
}
/* /////////////////////////////////////// */

.container {
  display: flex;
  width: 80%;
  height: 100%;
}

.sidebar {
  width: 250px;
  background-color: var(--body-color);
  color: black;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  align-self: flex-start;
  top: 5rem;
  /* overflow-x: scroll; */
  /* overflow-y: auto; */
}
/*HIDES SCROLL BAR*/
  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .sidebar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.nav-item {
  padding: 15px;
  cursor: pointer;
  text-align: left;
  position: relative;
}

.nav-item .indicator {
  position: absolute;
  top: 50%;
  left: -10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: hsl(171, 85%, 26%);
  visibility: hidden;
}

.nav-item.selected .indicator{
  visibility: visible;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ecf0f1;
  line-height: 3rem;
  border-radius: 1rem;
  min-height: 0;
}

.main-content h2, h3 {
  padding-bottom: 2rem;
}

.section {
  display: none;
}

.section h3 {
  font-size: 24px;
  color: #2c3e50;
}

.book-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: grid; 
  grid-template-columns: 1fr 1fr;  
  align-items: center;
}

.book-item .book-details_container {
  display: grid;
  justify-content: left;
}

.book-details_container a:hover {
  color: var(--first-color);
}

.book-item a {
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

.book-item .button_container{
  display: grid;
  justify-content: right;
  align-items: center;
}


.book-item .book-author {
  color: #333;
  align-self: flex-start;
}

.book-item .book_action_button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.book-item .book_action_button:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .book-item {
    grid-template-columns: 1fr;
  }

  .book-item .button_container {
    justify-content: center;
  }
}

.logout-container {
  margin-top: 20px;
}

.logout-container button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-container button:hover {
  background-color: #2980b9;
}




@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      width: 100%;
  }

  .sidebar {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: space-around;
      overflow-x: scroll;
  }

  .nav-item {
      padding: 10px;
      text-align: center;
      border-bottom: none;
  }

  .nav-item.selected .indicator{
    visibility: hidden;
  }

  .nav-item span{
    visibility: hidden;
  }

  .nav-item.selected{
    color: hsl(171, 85%, 26%);
  }

  .nav

  .main-content {
      padding: 10px;
      padding: 2rem;
  }
}
